<% if @game %>
  <h1>Reviews for <%= @game.name %> - <%= @game.category %></h1>
<% else %>
  <h1>All the Reviews </h1>
<% end %>

<ul>
<% @reviews.each do |review| %>

  <li>
  <%= review.game.name%>: <%= link_to review.title, review_path(review)%> - <%= review.stars%> 
  </li> <br>

<% end %>
</ul>
